body{
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color1: #161a36;
    --hover-color2:#2f1212;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
}
.ssd{
    max-width: 240px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
}
.ssd p{
    font-size:small;
    font-weight:  500;
    text-align: left;
    margin: 10px 10px auto;
}

.photo{

    border-radius: 20px ;
    max-width: 240px;
}
.button-section{
    display: flex;
    justify-content: center;
}
button {
    
    box-sizing: border-box;
    margin:10px;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    
  }
  
  
  button:hover {
    background-color: var(--hover-color1);
  }
  .Delete:hover {
    background-color: var(--hover-color2);
  }
